<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid" *ngIf="!flag">
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
            </ul>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            &nbsp;
            &nbsp;
            <li class="nav-item">
                <a class="nav-link" routerLink="/register">Register</a>
            </li>
        
        </div>
    </div>
    <div class="container-fluid" *ngIf="flag">
        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Search
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/searchid">Search By ID</a>
                      <a class="dropdown-item" href="/search">Search All</a>
                      
                    </div>

                  </div>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/caregiver">CareGiver</a>
                </li>
            </ul>
            
            
            &nbsp;
            &nbsp;
            <li class="nav-item">

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{name}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/profile">Profile</a>
                      <a class="dropdown-item" (click)="logout()">LogOut</a>
                      
                    </div>
                  </div>
            </li>
        
        </div>
    </div>
</nav>

 
 
 
 